@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap');

body{
    font-size: 12px;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #162447;
    font-weight: 800;
    color: #fff;
}
.container{
    margin-top: 20px;
}
/************ HEADER ************/
.header {
    background: #1f4068;
    height: auto;
    flex: 0 1 300px;
    flex: 1 1 300px;
    margin: 10px 20px;
    border-radius: 10px;
    border: 0px solid red;
    font-size: 2rem;
    text-align: center;
    box-shadow: 5px 5px 2px 0px #e43f5a;
}
h1{
    font-size: 2rem;
    text-shadow: 4px 4px 2px #1b1b2f;
    padding: 10px;   
    margin: 10px 0px;
}

/************ INPUT ************/
.input{
    display: block;
    width: 100%;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
label{
    display: block;
    margin-left: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    text-shadow: 4px 4px 2px #1b1b2f;
    
}
input{
    display: inline-block;
    margin: 20px 20px;
    width: 80%;
    background: transparent;
    border: 0px solid #fff;
    border-bottom: 1px solid #fff;
    outline-width: 0;
    color: #fff;
}

button{   
    width: 150px;
    height: 30px;
    outline-width: 0;
    background: #e43f5a;
    color: #fff;
    box-shadow: 4px 4px 2px #1b1b2f;  
    border: 0px solid #fff;
    border-radius: 10px;
    font-weight: 600;
    align-items: center;
    cursor: pointer;
}

/************ BODY ************/
.body {
    display: flex;
    flex-wrap: wrap;
  }

  div{
    font-size: 1rem;
    text-shadow: 4px 4px 2px #1b1b2f;  
    padding: 10px; 
}

  .child {
    padding: 10px; 
    font-weight: 600;
    background: #1f4068;
    height: auto;
    flex: 0 1 300px;
    flex: 1 1 300px;
    border-radius: 10px;
    border: 0px solid red;
    margin: 10px 20px;
    font-size: 2rem;
    text-align: center;
    text-shadow: 4px 4px 2px #1b1b2f;; 
    box-shadow: 5px 5px 2px 0px #e43f5a;
  }

  .users{
      font-size:  1rem;
      width: 100%;
  }
  .person{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
  }

  img{
      border-radius: 50%;
      display: block;
      margin: 0 20px;
      height: 64px;
      width: 64px;
      box-shadow: 4px 4px 2px 0px #e43f5a;

  }
  p{
    text-align: center;
  }
  li{
      padding: 10px;
  }
  a{
      color: #e43f5a;
      text-shadow: 4px 4px 2px #1b1b2f;
  }
