/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

/* VARIAVEIS */
:root {
    --color-white: #FFF;
  }
  
/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* AJUSTE CENTRAL */

html, body, .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

body{
    background-color: #c73e1d;
    background-image: linear-gradient(315deg, #c73e1d 0%, #a23b72 37%, #2e86ab 100%);
    font-family: 'Source Sans Pro';
    font-size: 1.1rem;
    align-items: center;
}
.container{
    text-align: center;
    margin-top: 40px;
}

h1{
    color: var(--color-white);
    font-size: 2rem;
    weight: 600;
}

/*----- CENTRAL CARD -----*/

.card{
    background: var(--color-white);
    width: 900px;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 23px 23px 5px 10px rgba(0,0,0,0.1);
    text-align: center;
}
 .card label, input{
     margin-top: 40px;
     align-items: left;
     width: 200px;
     weight: 600;  
 }

 .card r,g,b{

 }

 #numberRed, #numberGreen, #numberBlue{
    margin-left: 5px;
    height: 30px;
    text-align: center;
    width: 30px;
    border: 1px solid #a23b72;
    border-radius: 5px;
    background: var(--color-white);
 }

/*----- SQUARE INSIDE -----*/
 .body{
    height: 180px;
    width: 180px;
    margin: auto;
    margin-top:50px;
    margin-bottom: 30px;
    border: 0px solid #FFF;
    border-radius: 5px;
 }




